.container {
    margin: 5rem auto;
    width: 55rem;
    background: white;
    height: 45rem;

    display: flex;
    flex-direction: row;

    border-radius: .5rem;
    overflow: hidden;

    app-list-article {
        width: 15rem;
    }

    app-display-article {
        background: rgb(248, 248, 242);
        flex: 1;
    }
}